.icon-text{
    color: #036C44;
    font-weight: bold;
}
.icon-desc{
    font-family: 'Open Sans', sans-serif;
}
.header h1{
    color: #FEC310;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}
.left{
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}
.right{
    padding-left: 30px;
}

.right form input{
    width: 100%;
}
.right form input[type=text]{
    padding: 5px 10px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: .87rem; 
    outline-color: #ADADAD;
}
.right form input::placeholder{
    color: #ADADAD;
    font-family: 'Montserrat', sans-serif;
    font-size: .87rem;
}
.right form textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: .87rem; 
    outline-color: #ADADAD;
}
.right form button{
    background-color: #036C44;
    color: white;
    border-radius: 5px;
    padding: 5px 50px;
    border: none;
    transition: 0.4s all;
}
.right form button:hover{
    background-color: #02442b;
}