@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav .nav-link{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0px 20px;
}

.carousel-item{
    background-color: black;
}

.carousel-item img{
    opacity: 0.4;
}
.carousel-fade{
    background-color: black;
}