.header h1{
    color: #FEC310;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

.announcements .title{
    font-family: 'Open Sans', sans-serif;
    color: #036C44;
    font-weight: bolder;
    font-size: 1.2rem;
}
.announcements .description{
    font-family: 'Open Sans', sans-serif;
    font-size: .90rem;
    line-height: 25px;
}
.date{
    font-family: 'Open Sans', sans-serif;
    font-size: .70rem;
    margin-top: -10px;
}